*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  list-style-type: none;
}


$Orange: hsl(26, 100%, 55%) !default;
$Pale-orange: hsl(25, 100%, 94%) !default;
$Very-dark-blue: hsl(220, 13%, 13%) !default;
$Dark-grayish-blue: hsl(219, 9%, 45%) !default;
$Grayish-blue: hsl(220, 14%, 75%) !default;
$Light-grayish-blue: hsl(223, 64%, 98%) !default;
$White: hsl(0, 0%, 100%) !default;
$Black-75: hsla(0, 0%, 0%, 0.75) !default;


@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

body {
  max-width: 1080px;
  height: 100vh;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}
