$Orange: hsl(26, 100%, 55%) !default;
$Pale-orange: hsl(25, 100%, 94%) !default;
$Very-dark-blue: hsl(220, 13%, 13%) !default;
$Dark-grayish-blue: hsl(219, 9%, 45%) !default;
$Grayish-blue: hsl(220, 14%, 75%) !default;
$Light-grayish-blue: hsl(223, 64%, 98%) !default;
$White: hsl(0, 0%, 100%) !default;
$Black-75: hsla(0, 0%, 0%, 0.75) !default;