@use '../../styles/global.scss';

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 112px;
  padding-bottom: 30px;
  border-bottom:  1px solid global.$Grayish-blue;

  @media screen and (max-width: 1110px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (max-width: 720px) {
    height: 6rem;
    border-bottom:  none;
  }
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}